@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
	font-family: 'Public Sans', sans-serif;
	border-collapse: collapse;
}

th {
	text-transform: uppercase;
	color: white;
	background: #4472c4;
}

table {
	border-collapse: collapse;
	
}

th, td {
    border: 1px solid black;
    padding: 12px; 
}

td {
	text-align: left;
}

.selected {
	background-color: #a9d18e;
}

/* Volunteer Info Container */
#volunteer-container {
	align-items: stretch;
	border: 1px solid black;
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	
}

#volunteer-localization {
    flex: 1; 
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

#volunteer-localization div {
	flex: 1;
	background-color: #a9d18e;
	padding: 10px;
	border: 1px solid black;
}


#volunteer-schedule {
	display: flex;
	flex-direction: column;
	flex: 0 1;
	min-width: 150px;
	padding: 10px;
	border: 1px solid black;
}

#volunteer-schedule label {
	margin-top: 5px;
}


#volunteer-info {
    flex: 3; /* Toma el triple de espacio que la localización */
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

#volunteer-name {
	display: flex;
	flex-direction: row;
	background-color: #436b29;
}

#volunteer-name {
    display: flex;
    flex-direction: row;
    background-color: #436b29;
    color: white;
}

#volunteer-name > div:first-child {
    flex: 5;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}



.volunteer-date {
    flex: 1;
    display: flex;
	flex-direction: column;
}

.volunteer-date div {
    padding: 10px;
    border: 1px solid black;
	text-align: center;
	background-color: rgb(75, 75, 28);
}



#volunteer-observations {
	background-color: red;
	padding: 10px;
	border: 1px solid black;

}

